.content {
    background: #020617;
    padding: 120px 10%;
}

.block {
    margin-bottom: 120px;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s ease;
}

.block.show {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    color: #f87171;
    font-size: 36px;
    margin-bottom: 20px;
}

.block p {
    font-size: 20px;
    color: #e5e7eb;
    max-width: 700px;
}
